@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
p{
  font-size: 12pt;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
  height: 100%;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #941c01;
}
a {
  color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#skip a
{ 
position:absolute; 
left:-10000px; 
top:auto; 
width:1px; 
height:1px; 
overflow:hidden;
} 
 
#skip a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
} 

#maincontent {
  background-color: #f3f3f3;
  /*min-height: 100%;*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

#map-container, #list-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#footer {
  background-color: #252830;
  color: #E0E0E0;
  font-size: 8pt;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  width:100%;
  margin-bottom: 0;
  /*position: absolute;*/
  height: 44px;  
  padding: 15px 0px 0px 0px;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 50px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding: 10px 0;

}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #333;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #15547E;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
 
  height: 0px;
  background-color: #ccc;
  width: 100%;
  
}


/*#map-container{
    width: 100%;
    height: 0px;
  }*/

#map.show {
  height: 70vh !important;
}

#mapButton {
  width: 100%;
  font-size: 11pt;
  color: white;
  height: 35px;
  background-color: #ad1f00;
  border: none;
  align-items: center;
}

/* ====================== List Home ====================== */

.list-container {
  width: 100%;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 90px;
  background-color: #15547E;
  align-items: center;
  padding: 1em 0 0;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 5px;
  width: 160px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  /*border: 2px solid #ccc;*/
  font-family: Arial,sans-serif;
  margin: 15px;
  border-radius: 40px 0px 0px 0px;
  /*min-height: 380px;*/
  text-align: left;
  /*width: 200px;*/
}
#restaurants-list .restaurant-img {
  background-color: #f3f3f3;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  border-radius: 40px 0px 0px 0px;
}

#restaurants-list li h2 {
  background-color: #fff;
  color: #ad1f00;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 0 30px 5px;
}
#restaurants-list p {
  background-color: #fff;
  margin: 0;
  padding: 0 30px 0px;
}
#restaurants-list li a {
  background-color: #14547d !important;
  color: #fff;
  display: block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 5px 30px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: bottom;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
}
.inside{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.inside #map-container {
  /*background: blue none repeat scroll 0 0;
  height: 100%;
  right: 0;
  top: 100px;
  width: 50%;*/
}
.inside #map {
  background: #ccc none repeat scroll 0 0;
  height: 70vh;
  right: 0;
  top: 100px;
  width: 100%;

}

/*.inside #map {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-height: 700px;
  max-width: 100%;
}*/

.inside #footer {
  width: 100%;

}
#restaurant-name {
  color: #ad1f00;
  font-family: Arial,sans-serif;
  font-size: 16pt;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
  padding: 0 30px 5px;
}
#restaurant-img {
	width: 100%;
  border-radius: 40px 0px 0px 0px;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 2em;
   /*width: 50%;*/
  position: relative;
}

#restaurant-container{
  top: 100px;
  /*background-color: #f3f3f3;*/
  
}
#reviews-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
#reviews-container h2 {
  color: #14547c;
  font-size: 14pt;
  font-weight: 800;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #252831;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: 90%;
}
#reviews-list li p {
  font-size: 16px;
  margin: 0 0 10px;
  word-wrap: break-word;
}
#restaurant-hours td {
  color: #666;
}

.review-offline{
  border: 2px solid #FF9800 !important; 
}

/* ====================== Add Review ====================== */

  /*--------------------- Reviews form To adapt after test -------------------*/

.message {
  display: none;
  padding: 10px;
  position: relative;
  width: 90%;
  margin: 25px 0 25px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  font-size: 10pt;


}

.warn {
  background: #FF9800;
}

.error {
  background: #F44336;
}

.success {
  background: #4CAF50;
}

.container {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px 0 5px 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.form-section {
  color: red;
  display: flex;
  justify-content: center;
}

.card {
  background-color: #14547d;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  display: flex;
  flex-flow: row wrap;
  margin: 5px 20px;
  padding: 0;
  width: 90%;
}

.card-offline {
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
  display: flex;
  flex-flow: row wrap;
  margin: 5px 20px;
  padding: 0;
  width: 90%;
  border: 2px solid #04a9f4;
}


.card-name {
  align-items: center;
  background-color: #04a9f4;
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: normal;
  padding: 10px 16px;
  width: 100%;
}

.card-text {
  color: #616161;
  flex-grow: 1;
  font-size: 1rem;
  height: auto;
  line-height: 18px;
  margin: 16px;
  overflow: hidden;
  padding: 16px;
  width: 90%;
}

input {
  display: block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
}

.rating{
  font-size: 16px;
}

.support-text {
  color: #fff;
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.textfield {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  max-width: 90%;
  min-width: 80%;
  padding: 10px 0;
}

textarea{
  width: 100%;
  min-height: 150px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
  background: #f2f2f2;
  box-sizing: border-box;


}

.comments{
  width: 100%;
  border: 2px solid darkgrey;
  min-height: 150px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
  background: #f2f2f2;
  box-sizing: border-box;


}

.card-action {
  align-items: center;
  background-color: transparent;
  color: inherit;
  display: flex;
  font-size: 16px;
  height: auto;
  justify-content: center;
  margin-top: 10px;
  margin: 0;
  padding: 4px 0;
  width: 100%;
}

.button {
  border-radius: 2px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0;
  line-height: 36px;
  margin: 2px;
  min-width: 100px;
  outline: none;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  vertical-align: middle;
  will-change: box-shadow;
}

.button::after {
  background: rgba(255, 255, 255, .5);
  border-radius: 100%;
  content: '';
  height: 5px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  transform: scale(1, 1) translate(-50%);
  width: 5px;
}

.raised {
  background: #ffa500;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  color: #252831;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0, 0);
  }
  20% {
    opacity: 1;
    transform: scale(25, 25);
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}


/* ====================== Add to Favorites ====================== */

.fav-button {
  position: relative;
  background-color: white;
  border: none;
  align-self: flex-start;
  font-size: 30px;
  background: white;
  height: 40px;
  width: 40px;
  padding-left: 30px
}

.isAFavorite {
  color: #AD1F00;
}

.isAFavorite:hover {
  color: #AD1F00;
}

.isNotAFavorite {
  color: #969696;
}

.isNotAFavorite:hover {
  color: #969696;
}


/* ====================== Media queries ====================== */

@media screen and (max-width: 550px) {

.inside #map-container{
    height: 70vh ;
    width: 100%;
    position: relative;
  }

/*.inside

  #map-container, #map-container,{
    height: 70vh;
    width: 100%;
    position: relative;

  }*/
  #restaurant-container, #reviews-container{
    width: 100%;
    padding: 0.8em 2em;

  }
  #restaurants-list li {
    width: 100%

  }

  .filter-options {
    height: 102px;
  }



  .filter-options select {
  font-size: 11pt;
  height: 30px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 5px;
  width: 145px;
  }

}

@media screen and (min-width: 586px) {

  /*.#map{
    height: 70vh !important;
    width: 100%;
    position: relative;

  }*/

  .inside #map-container, #map-container{
    /*height: 70vh;*/
    width: 100%;
    /*position: relative;*/

  }

  #list-container{
    width: 100%;
    overflow-y: auto;
  }
  
  /*#restaurant-container{
    width: 100%;
    padding: 10px 10px;
  }
*/
  #restaurants-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 5px 2px 5px;
  }

  #restaurants-list li {
    width: 271px;
    /*width: calc(50% - 30px);*/
    height: 400px;
    margin: 10px 5px 10px;
  }


  #restaurants-list li h2 {
    font-size: 15pt;
    font-weight: bold;
    padding: 0 9px 0px;
    height: 40px;
    margin: 5px 0 5px;
  }

  #restaurants-list p {
    padding: 0 9px 0px;
    font-size: 10pt;
  }

  .fav-button {
    padding: 0 9px 0px;
    font-size: 30pt;
  }

  #restaurants-list .restaurant-img {
    background-color: #fff;
    width: 100%;
    border-radius: 20px 0px 0px 0px;
  }

  #reviews-container{
    width: 100%;
  }


@media screen and (min-width: 768px) {

  .filter-options select {
  font-size: 10pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 2px;
  width: 145px;
  }

 .inside #map-container{
    height: 100vh;
    width: calc(50% - 4em);
  }
  
  .inside #map{
    height: 100%;
  }



  /*#list-container{
    width: 50%;
    height: 100vh;

  }*/
  
  #restaurant-container{
    width: calc(50% - 4em);
    padding: 0.5em 2em;
  }

  #reviews-container{
    width: 100%;
  }

  #restaurants-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }

  #restaurants-list li {
    margin: 5px;
    text-align: left;
    /*width: calc(50% - 10px);*/
    height: 480px;
    width: 340px;
    overflow: hidden;
    margin: 10px 5px 10px;

  }

  .fav-button {
    padding: 0 9px 0px;
    font-size: 30pt;
  }

   #restaurants-list li h2 {
    font-size: 14pt;
    font-weight: bold;
    padding: 0 9px 0px;
    height: 40px;
    margin: 5px 0 5px;
  }

  #restaurants-list p {
    padding: 0 9px 3px;
    font-size: 13pt;
    height: 30px;
  }

  #restaurants-list li a {
    height: 35px;
    font-size: 12pt;
  }

  #restaurants-list .restaurant-img {
    background-color: #fff;
    width: 100%;
    border-radius: 20px 0px 0px 0px;
  }

  .restaurant-img {
    background-color: #f3f3f3;
  }  
  
}

@media screen and (min-width: 1024px) {

  .inside #map-container{
    height: 100vh;
    width: 30%;
  }
  .inside #map{
    height: 100%;
  }

  #mapButton {
  font-size: 1.5em;
  border: none;
}
  /*index.html
  #list-container{
    width: 70%;
    height: 100vh;
  }*/

  #restaurant-container {
    height: 800px;
    /*overflow: scroll;*/
    width: calc(35% - 60px);
    padding: 0.5em 1em;
    border-bottom: 0px;
}


  #restaurants-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

 #restaurants-list li {
    text-align: left;
    /*width: calc(50% - 10px);*/
    height: 472px;
    width: 310px;
    overflow: hidden;

  }

  .fav-button {
    padding: 0 9px 0px;
    font-size: 30pt;
  }

   #restaurants-list li h2 {
    font-size: 14pt;
    font-weight: bold;
    padding: 0 9px 0px;
    height: 40px;
    margin: 5px 0 5px;
  }

  #restaurants-list p {
    padding: 0 9px 9px;
    font-size: 13pt;
    height: 30px;
  }

  #restaurants-list li a {
    height: 35px;
    font-size: 12pt;
  }

  #reviews-container {
    width: calc(35% - 60px);
    height: 100vh;
    overflow-y: scroll;
  }

   #reviews-container h2 {
    font-size: 12pt;
    text-transform: uppercase;

  }


